@charset "utf-8";

.logo {
    width: 100px;
}

header {
    font-family:arial black;
}

a {
    text-decoration: none;
    font-size:large; 
    color:black;
}
a:hover{
    text-decoration: underline;
}

.post,.matching,.classes,.mypage {
    margin: 10px;
    text-shadow:1px 1px 5px rgb(80, 224, 224);
}


