@charset "utf-8";

body {
  font-family: arial black;
  padding-top: 14%;
}
/* header */
header {
  height: 30%;
  width: 100%;
  margin-top: 8px;
  position: fixed;
  top: 0;
}

.logo {
  margin-left: 10px;
  width: 110px;
}

a {
  text-decoration: none;
}

.as {
  text-align: center;
}

.post,
.matching,
.classes,
.mypage {
  margin: 5%;
  font-size: large;
  font-family: arial;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 1px rgb(80, 224, 224);
}

.post:hover,.matching:hover,.classes:hover,.mypage:hover {
  font-family: arial black;
  text-shadow: 4px 4px 1px rgb(80, 224, 224);
}

/* service page */

.donttext {
  font-family: arial black;
  text-align: center;
  margin-top: 25%;
  margin-bottom: 25%;
}

.button_include {
  text-align: center;
}

.to_signin,
.to_signup {
  width: 120px;
  height: 50px;
  margin: 10px;
  font-size: 17px;
  font-family: arial black;
  border: 2px solid black;
  border-radius: 7px;
}

.to_signin {
  background: pink;
}

.to_signup {
  background: powderblue;
}

.to_signin:hover {
  color: darkgray;
}

.to_signup:hover {
  color: darkgray;
}

/* sign-up page */

.signup_form {
  text-align: center;
  font-size: 20px;
  margin-top: 20%;
}

.signup_form h3 {
  text-shadow: 1px 1px 3px skyblue;
}

.next {
  margin-top: 30px;
  margin-left: 320px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-family: arial black;
  font-size: large;
  border: none;
  background-color: transparent;
}

.next:hover {
  text-decoration: none;
  color: skyblue;
}

/* sign in page */

.signin_form {
  text-align: center;
  font-size: 20px;
  margin-top: 20%;
}

.signin_form h3 {
  text-shadow: 1px 1px 3px palevioletred;
}

.signin {
  margin-top: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-family: arial black;
  font-size: large;
  border: none;
  background-color: transparent;
}

.signin:hover {
  text-decoration: none;
  color: palevioletred;
}

.create_account {
  font-family: "Arial Unicode ms";
  font-size: 15px;
  color: blue;
  text-decoration: none;
}

.create_account:hover {
  text-decoration: underline;
  color: indigo;
}
